@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.4s ease;
}

all{
  transition: all 0.4s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.NotificationPopUpSingle:hover{
  transform: scale(1.02);
  transition: all 0.1s linear;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}


input{
  outline: none;
}

.modal-content{
  background: transparent !important;
  border: 0;
}

.arrow{
  display : none !important;
}

.tooltip.top .tooltip-arrow{
  display: none !important;
}

a{
  text-decoration: none !important;
}

.rich-text img{
  border-radius: 20px;
  justify-content: center;
  text-align: center;
  width: 100% !important; 
  height: auto !important;
  margin-top: 20px;
  margin-bottom: 20px;
}/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {

  -webkit-appearance: none;
  box-shadow: none !important;
  -webkit-appearance: none;
/*Change text in autofill textbox*/
}
input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
}

input{
  -webkit-appearance: none;
}

@-webkit-keyframes autofill {
  0%,100% {
      color: #666;
      background: transparent;
  }
}input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid white;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill {
  -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {

  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}